CLOUD PLATFORM NODE RED CLOUD.txt
[{"id":"ee96e723.3d2ca8","type":"tab","label":"PROJECT CLOUD","disabled":false,"info":""},{"id":"c9c1e6a0.3c4298","type":"tab","label":"Project Dashboard","disabled":false,"info":""},{"id":"520d7f01.53d1a","type":"subflow","name":"GoogleMaps","info":"","category":"","in":[{"x":200,"y":240,"wires":[{"id":"77dcb1b2.b2326"}]}],"out":[{"x":880,"y":300,"wires":[{"id":"77dcb1b2.b2326","port":0}]},{"x":655,"y":82,"wires":[{"id":"985dd94e.a3fb18","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"f305b6cc.7957f8","type":"wiotp-credentials","z":"","name":"","org":"xg01zo","serverName":"","devType":"iotsample-devicetype","devId":"weather-01","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"80586e8b.aa5d1","type":"ibmiot","z":"","name":"API-1","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"933c4f87.60adf","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a6dc1c4c.4303a","type":"wiotp-credentials","z":"","name":"","org":"xg01zo","serverName":"","devType":"iotsample-devicetype","devId":"Device01","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"41705f2a.a6416","type":"ui_group","z":"","name":"Request","tab":"","disp":true,"width":"6","collapse":false},{"id":"65f27e0b.cd11d","type":"ui_group","z":"","name":"Assistant","tab":"","disp":true,"width":"12","collapse":false},{"id":"aad2ae28.15147","type":"slack-config","z":"","name":"eaa bot"},{"id":"7e75b6c8.4cd438","type":"mqtt-broker","z":"","name":"Hive","broker":"broker.hivemq.com1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"42dd4b09.99e614","type":"wiotp-credentials","z":"","name":"","org":"","serverName":"","devType":"raspberrypi","devId":"pidevice007","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"e396b252.fc03f","type":"ui_group","z":"","name":"Joystick","tab":"","disp":true,"width":"10","collapse":false},{"id":"c0a530a7.75003","type":"ui_group","z":"","name":"Environment Control","tab":"","disp":true,"width":"7","collapse":false},{"id":"d59785fc.346d58","type":"ui_group","z":"","name":"Temperature Graph","tab":"","disp":true,"width":"10","collapse":false},{"id":"2af03bfa.ab9ea4","type":"ui_group","z":"","name":"Joystick","tab":"","disp":true,"width":"10","collapse":false},{"id":"36157c9f.fd7e84","type":"ui_group","z":"","name":"Sense Hat Simulator","tab":"","order":1,"disp":true,"width":"10","collapse":false},{"id":"8e9b6f9f.bef0a","type":"wiotp-credentials","z":"","name":"","org":"xg01zo","serverName":"","devType":"iotsample-devicetype","devId":"Device01","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"a4765a89.38fe38","type":"mqtt-broker","z":"","name":"EclipseIoT","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d2d86e3c.099ae","type":"mqtt-broker","z":"","name":"EclipseIoT","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"286eb3b1.ca5d9c","type":"mqtt-broker","z":"","name":"","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"21af1fb7.11cfb","type":"mqtt-broker","z":"","name":"EclipseIoT","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7f54e348.99ab6c","type":"mqtt-broker","z":"","name":"EclipseIoT","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b524e0e2.bf7cd","type":"mqtt-broker","z":"","name":"","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"300299dd.1dd996","type":"mqtt-broker","z":"","name":"EclipseIoT","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e4fd13d1.d0abe","type":"mqtt-broker","z":"","name":"","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9bfe2a9e.679778","type":"mqtt-broker","z":"","name":"EclipseIoT","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e8eaa359.2187e","type":"mqtt-broker","z":"","name":"","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"68f2f82a.528e88","type":"mqtt-broker","z":"","name":"EclipseIoT","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"60fcb6e7.2a81d8","type":"ui_group","z":0,"name":"IoT Data Control","tab":"","order":1,"disp":true,"width":"17"},{"id":"a9e716e5.75e988","type":"websocket-listener","path":"/ws/location","wholemsg":"false"},{"id":"f6aa95b8.341758","type":"slack-config","z":"","name":" your-bot-username "},{"id":"fafb48fb.f3fe48","type":"slack-config","z":"","name":"airdmhund"},{"id":"9cdde75.002b818","type":"mqtt-broker","z":"","name":"EclipseIoT","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7f18200f.e1e4f","type":"mqtt-broker","z":"","name":"","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"240180a6.8489d","type":"mqtt-broker","z":"","name":"EclipseIoT","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"906f0edc.84076","type":"mqtt-broker","z":"","name":"EclipseIoT","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"59ddbf63.2244a","type":"mqtt-broker","z":"","name":"","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ce8de008.f4847","type":"ui_group","z":"","name":"MAP","tab":"6b1964b8.f2ed2c","order":1,"disp":true,"width":"14","collapse":false},{"id":"f9bb9c5b.f34d4","type":"mqtt-broker","z":"","name":"EclipseIoT","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6b1964b8.f2ed2c","type":"ui_tab","z":"","name":"Cloud Dashboard","icon":"dashboard","disabled":false,"hidden":false},{"id":"567a91a3.bb92c","type":"ui_group","z":"","name":"VEHICLE AND DELIVERY STATUS","tab":"6b1964b8.f2ed2c","order":2,"disp":true,"width":"10","collapse":false},{"id":"55be719d.ecff5","type":"wiotp-credentials","z":"","name":"","org":"xg01zo","serverName":"","devType":"iotsample-devicetype","devId":"weather-01","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"aad54a26.827928","type":"ui_group","z":"","name":"VEHICLE AND DELIVERY STATUS","tab":"d8277eb4.5f3fb","order":2,"disp":true,"width":"10","collapse":false},{"id":"d8277eb4.5f3fb","type":"ui_tab","z":"","name":"Cloud Dashboard","icon":"dashboard","disabled":false,"hidden":false},{"id":"4f854c76.8bf134","type":"mqtt in","z":"ee96e723.3d2ca8","name":"","topic":"airdmhund/requestNextDeliveryRoute","qos":"0","datatype":"json","broker":"300299dd.1dd996","x":370,"y":80,"wires":[["5bde7bf6.3f21f4","83527828.85be68"]]},{"id":"5bde7bf6.3f21f4","type":"function","z":"ee96e723.3d2ca8","name":"Db: Get Route by route_number","func":"var msgOut={};\n\n// This is the base URL for my database\nvar baseurl= \"https://c6150556-5270-4a64-a25a-3523f4452699-bluemix.cloudantnosqldb.appdomain.cloud/delivery_routes/\";\n\nvar route_number = msg.payload.routeNumber;\n// !!!!!!! Students: Please create a comment for the line of code below !!!!!!!!\nquery = \"_design/app/_search/searchRoutes/?query=the_route:\" + route_number + \"&include_docs=true&limit=1\";\n\n\nmsgOut.url = baseurl + query;\n\nreturn msgOut;","outputs":1,"noerr":0,"x":750,"y":140,"wires":[["ac9da771.e097e8"]]},{"id":"ac9da771.e097e8","type":"http request","z":"ee96e723.3d2ca8","name":"getdocs","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":720,"y":80,"wires":[["a298caac.144278"]]},{"id":"a298caac.144278","type":"function","z":"ee96e723.3d2ca8","name":"Extract the route","func":"var msgOut = {\"payload\" :  msg.payload.rows[0].doc };\nreturn msgOut;\n\n","outputs":1,"noerr":0,"x":940,"y":60,"wires":[["6e46f8c1.18dd68"]]},{"id":"6e46f8c1.18dd68","type":"mqtt out","z":"ee96e723.3d2ca8","name":"","topic":"airdmhund/vehicleRouteReturned","qos":"0","retain":"false","broker":"e4fd13d1.d0abe","x":1520,"y":80,"wires":[]},{"id":"74a73371.7e279c","type":"comment","z":"ee96e723.3d2ca8","name":"route request received","info":"","x":380,"y":20,"wires":[]},{"id":"5b33e284.4914cc","type":"comment","z":"ee96e723.3d2ca8","name":"route sent","info":"","x":1220,"y":20,"wires":[]},{"id":"77cef2b1.3c9a3c","type":"comment","z":"ee96e723.3d2ca8","name":"VEHICLE LOCATION RECEIVED","info":"","x":870,"y":400,"wires":[]},{"id":"dbaf9481.6cbd28","type":"mqtt in","z":"ee96e723.3d2ca8","name":"","topic":"airdmhund/vehicleLocationUpdate","qos":"2","datatype":"json","broker":"9bfe2a9e.679778","x":480,"y":480,"wires":[["3e56a517.a89a7a","1ba14b73.5216b5"]]},{"id":"1ba14b73.5216b5","type":"function","z":"ee96e723.3d2ca8","name":"Update Marker \"VEHICLE_LOCATION\"","func":"var lat = msg.payload.lat;\nvar lon = msg.payload.lon;\n\nvar msg ={\"payload\":{\n    \"command\":{\"removeMarker\":\"VEHICLE-LOCATION\"},\n     \"markerData\":[  {   \"lat\":lat,\n                        \"lng\":lon,\n                        \"title\":\"VEHICLE-LOCATION\",\n                        \"icon\": \"http://maps.google.com/mapfiles/ms/micons/bus.png\"\n                    }\n                 ]\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":520,"wires":[["b6fcc3d1.bbc1b"]]},{"id":"3e56a517.a89a7a","type":"function","z":"ee96e723.3d2ca8","name":"Keep a local copy of lat and lng","func":"//Keep a local copy of lat and lng, for use when customer makes a /delivery request. Use a flow context store.\n// and you have to create a URL thast contains coordinates.\n//See specification.\n\nflow.set (\"current_latitude\",msg.payload.lat)\nflow.set (\"current_longitude\",msg.payload.lon)\n\nvar msgout = {\"payload\": {\"lat\":msg.payload.lat,\"lon\":msg.payload.lon}};\n\n\nreturn msgout;","outputs":1,"noerr":0,"x":850,"y":440,"wires":[["36726961.937556"]]},{"id":"77dcb1b2.b2326","type":"function","z":"520d7f01.53d1a","name":"Process Map Requests","func":"var locations = global.get(\"gmapsLocations\");\nif ( typeof(locations) === \"undefined\" || locations === null ) {\n   // node.send({\"payload2\":locations});\n    locations = {\"markerData\":[]};\n    //locations = {\"markerData\":msg.payload.markerData};\n    global.set(\"gmapsLocations\",locations); \n}\n//node.send({\"payload1\":locations});\n\n// if a request for removal of all markers then undertake only this command\n//if (typeof(msg.payload.command)!== \"undefined\") {\nif (msg.payload.command){\n    if (msg.payload.command.removeMarkers === true) {\n       // node.send({\"payload2\":\"clear gmapsLocations \"});\n        global.set(\"gmapsLocations\", null );  \n    }\n // otherwise check for removal of a defined (by 'title') marker\nelse if(msg.payload.command && msg.payload.command.removeMarker){\n    //node.send({\"payload3\":locations.markerData.length});\n  if (locations.markerData && locations.markerData.length>0) {\n     // node.send({\"payload4\":locations});\n    for (var i =  locations.markerData.length-1; i >=0 ; i-- ) {\n        //node.send({\"payload5\":locations});\n        if (locations.markerData[i].title === msg.payload.command.removeMarker) {\n            locations.markerData.splice(i,1);  // remove item \n            global.set(\"gmapsLocations\", locations); // update our application's list of markers\n    }\n   }\n  }\n }\n}\n\n\n    //node.send({\"payload6\":locations});\n    if (msg.payload.markerData){\n      locations = global.get(\"gmapsLocations\");\n      // get the new markers \n      for (var i = 0; i < msg.payload.markerData.length; i++ ) {\n        locations.markerData.push(msg.payload.markerData[i]); \n      }\n    // store the updated markers list\n    global.set(\"gmapsLocations\", locations);\n //  }\n    }\n\nreturn msg;\n\nfunction isEmpty(obj) {\n    for(var prop in obj) {\n        if(obj.hasOwnProperty(prop))\n            return false;\n    }\n return true;\n}","outputs":1,"noerr":0,"x":550,"y":240,"wires":[["7d1d7f41.3a316"]]},{"id":"4e5083f0.2421ec","type":"function","z":"520d7f01.53d1a","name":"","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\nvar locations = global.get(\"gmapsLocations\");\nif ( typeof(locations) === \"undefined\" || locations === null){\n   //no stored markers in Node-Red application\n   msg.payload = {\"markerData\":[]};\n}\nelse {\n    // get stored markers\n    msg.payload= locations;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":180,"wires":[["7d1d7f41.3a316"]]},{"id":"3b72275.7262cd8","type":"http response","z":"520d7f01.53d1a","name":"","statusCode":"","headers":{},"x":830,"y":360,"wires":[]},{"id":"39a38ce9.4e7374","type":"http in","z":"520d7f01.53d1a","name":"","url":"/map","method":"get","upload":false,"swaggerDoc":"","x":240,"y":360,"wires":[["afad0696.2bf728"]]},{"id":"9f18234a.7a098","type":"comment","z":"520d7f01.53d1a","name":"Access To Google Maps","info":"","x":250,"y":20,"wires":[]},{"id":"425e95ca.88738c","type":"template","z":"520d7f01.53d1a","name":"mapping","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n\n<head>\n    <title>Node-Red-IoT</title>\n    <script type=\"text/javascript\" src=\"http://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js\"\n        type=\"text/javascript\"></script>\n    <script type=\"text/javascript\" src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js\"></script>\n    <script type=\"text/javascript\"\n        src=\"http://maps.google.com/maps/api/js?key=AIzaSyDLZFnTl6-e0pmKiBTpfo3H3W9tlhfVWpg\"></script>\n    <script type=\"text/javascript\" src=\"http://yourjavascript.com/4594301102/gmaps.js\"></script>\n\n\n\n    <style type=\"text/css\" media=\"screen\">\n        #map {\n            position: absolute;\n            top: 0;\n            bottom: 0;\n            left: 0;\n            right: 0;\n        }\n    </style>\n</head>\n\n<body>\n\n    <div id=\"map\"></div>\n    <script type=\"text/javascript\">\n\n        client = new Paho.MQTT.Client(\"mqtt.eclipse.org\", 80, \"myClientId_\" + new Date().getTime());\n        myTopicRoot = \"{{uniqueMQTT}}\";\n        myTopic =  myTopicRoot + \"/commands\";\n\n        var nodeRedRequest = {};\n        var command = {};\n\n        client.onConnectionLost = onConnectionLost;\n        client.connect({ onSuccess: onConnect, keepAliveInterval: 20 });\n        client.onMessageArrived = onMessageArrived;\n\n        //let count = 0;\n        function onConnect() {\n            console.log(\"onConnect\");\n            client.subscribe(myTopic);\n            // DISABLED Web page publishes data - just for testing purposes. \n            // setInterval(() => { publish(myTopic, `The count is now ${count++}`) }, 1000)\n            publish( myTopicRoot + \"/webrefresh\", \"refresh\");\n\n        }\n\n        const publish = (dest, msg) => {\n            console.log('desint :', dest, 'msg:', msg)\n            let message = new Paho.MQTT.Message(msg);\n            message.destinationName = dest;\n            client.send(message);\n        }\n\n        var map;\n\n        $(document).ready(function () {\n            // Centre map on Glasgow to start\n            map = new GMaps({\n                div: '#map',\n                lat: 55.866161,\n                lng: -4.25231\n            });\n\n            map.setZoom(7);  // initial zoom\n\n        });\n\n\n\n        function onConnectionLost(responseObject) {\n            if (responseObject.errorCode !== 0) {\n                console.log(\"onConnectionLost:\" + responseObject.errorMessage);\n                location.reload(true); // reload web page\n            }\n            \n        }\n\n        \n        function onMessageArrived(message) {\n            //let el = document.createElement('div')\n            // el.innerHTML = \"hello\" + message.payloadString\n            //document.body.appendChild(el)\n            var command_string = message.payloadString;\n            var nodeRedRequest = JSON.parse(command_string);\n            if (nodeRedRequest.command) {\n                var command = nodeRedRequest.command;\n            }\n            // if there are markers in the request...\n            if (nodeRedRequest.markerData) {\n                var myMarkers = true;\n                var latlng = nodeRedRequest.markerData;\n                // if (nodeRedRequest.markerData[0].click)\n                //  nodeRedRequest.markerData[0].click = JSON.parse(nodeRedRequest.markerData[0].click);\n            }\n            /*  PB: ORIGINAL CODE\n            var array = $.map(latlng, function(el) {\n                    return [[el.lat, el.lng]];\n                }); */\n            // map.removeMarkers();   // PB: NOW CONDITIONAL ON MY COMMAND OPTIONS\n            // map.removePolylines(); // PB: NOT USING THESE IN MY EXAMPLE\n\n            // if there are commands in the request...\n            if (command) {\n                if (command.zoom){\n                    map.setZoom(command.zoom);\n                    console.log(\"Zoom\");\n                }\n                if (command.removeMarkers) {\n                    // remove ALL markers\n                    map.removeMarkers();\n                    console.log(\"Remove all markers\");\n                }\n                // remove single marker by TITLE  \n                if (command.removeMarker) {\n                    myRemoveMarker(map, command.removeMarker);\n                    console.log(\"Remove single marker\");\n                }\n                // Centre the map at lat,lng\n                if (command.centre){\n                    map.setCenter(command.centre.lat, command.centre.lng);\n                    console.log(\"Center map\");\n                }\n            }\n            if (myMarkers) {  // if we included markers in the request...\n                if (latlng.length > 0) {\n                    console.log(\"Got marker list (\" + latlng.length + \"), centering at \" + latlng[0].lat + \", \" + latlng[0].lng, latlng);\n                    // if you want, set centre point at location of first marker    \n                    //map.setCenter(latlng[0].lat, latlng[0].lng); \n                    map.addMarkers(latlng);\n                    //var m = map.markers[1];\n                    //map.removeMarker(m);\n\n                }\n            }\n        }\n\n\n        // remove a single marker     \n        function myRemoveMarker(myMap, myMarkerTitle) {\n            var markers = myMap.markers;\n            var length = markers.length;\n            if (length > 0) {\n                //go from end of array downwards since the array size\n                //diminishes if elements are deleted!\n                for (var i = length - 1; i >= 0; i--) {\n                    if (markers[i].title === myMarkerTitle) {\n                        // will remove multiple entries for the same title (if present)\n                        myMap.removeMarker(markers[i]);\n                        var markers2 = myMap.markers;\n                    }\n                }\n            }\n        }\n    </script>\n</body>\n\n</html>","output":"str","x":660,"y":360,"wires":[["3b72275.7262cd8"]]},{"id":"7d1d7f41.3a316","type":"mqtt out","z":"520d7f01.53d1a","name":"","topic":"airdmhund/commands","qos":"2","retain":"true","broker":"68f2f82a.528e88","x":920,"y":180,"wires":[]},{"id":"985dd94e.a3fb18","type":"mqtt in","z":"520d7f01.53d1a","name":"","topic":"airdmhund/webrefresh","qos":"2","datatype":"auto","broker":"68f2f82a.528e88","x":280,"y":180,"wires":[["4e5083f0.2421ec"]]},{"id":"afad0696.2bf728","type":"function","z":"520d7f01.53d1a","name":"Add Unique Topic","func":"msg.uniqueMQTT = \"airdmhund\"; // CHANGE THIS!!!\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":360,"wires":[["425e95ca.88738c"]]},{"id":"90428faa.99d4e","type":"mqtt in","z":"ee96e723.3d2ca8","name":"","topic":"airdmhund/parcelDelivered","qos":"2","datatype":"json","broker":"21af1fb7.11cfb","x":310,"y":800,"wires":[["36267476.19750c","b8ec183d.587598"]]},{"id":"36267476.19750c","type":"function","z":"ee96e723.3d2ca8","name":"DONE TOTALLY: Format message for Parcel Delivered marker. Send to Google Maps","func":"var lat = flow.get(\"current_latitude\")//msg.payload.vehicle_location[0];\nvar lng = flow.get(\"current_longitude\")//msg.payload.vehicle_location[1];\n\n//msg.payload = \"Put google maps cross at \" + lat + lng;\n\nvar str = \"\" + msg.payload.deliveryID + \"\"\nvar msg ={\"payload\":{\n    \"command\":{\"removeMarker\":\"VEHICLE-LOCATION\"},\n    \"markerData\":[  { \n        \"lat\":lat,\n        \"lng\":lng,\n        \"title\":\"GEN-A10888\",\n        \"label\":str,\n        \"icon\": \"http://maps.google.com/mapfiles/ms/micons/green.png\"\n                    }\n                 ]\n    }\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":760,"y":700,"wires":[["de8673c0.e8333"]]},{"id":"b8ec183d.587598","type":"function","z":"ee96e723.3d2ca8","name":"DONE TOTALLY: Check for specific delivery-id and send Slack message to customer","func":"var lat = flow.get(\"current_latitude\")\nvar lon = flow.get(\"current_longitude\")\n\nvar msgOut = {};\nmsgOut.topic = \"#general\" //This represents the channel being used\n\nmsgOut.delivery_id = msg.payload.deliveryID;\nmsgOut.payload = \"Your Parcel with Delivery ID : \\\"\" + msgOut.delivery_id + \"\\\" has been delivered successfully. Please see location of delivery below: https://www.google.com/maps/search/?api=1&query=\" + lat + \",\" + lon;\n\n\nreturn msgOut\n\n\n","outputs":1,"noerr":0,"x":720,"y":880,"wires":[["c1156df6.8c76f","c43737ff.33be28"]]},{"id":"bf76ced7.fe5bf","type":"comment","z":"ee96e723.3d2ca8","name":"PARCEL ARRIVED AT LOCATION","info":"","x":780,"y":660,"wires":[]},{"id":"de8673c0.e8333","type":"subflow:520d7f01.53d1a","z":"ee96e723.3d2ca8","name":"","x":1230,"y":680,"wires":[[],[]]},{"id":"c1156df6.8c76f","type":"slack-rtm-out","z":"ee96e723.3d2ca8","client":"fafb48fb.f3fe48","name":"SLACK MESSENGER","x":1320,"y":960,"wires":[[]]},{"id":"af449db1.bf37c","type":"mqtt in","z":"ee96e723.3d2ca8","name":"","topic":"airdmhund/airbagDeployed","qos":"2","datatype":"json","broker":"21af1fb7.11cfb","x":430,"y":1220,"wires":[["b79c5e0.23960a","e9e0720f.1ab26","78a08446.1d02cc"]]},{"id":"b79c5e0.23960a","type":"function","z":"ee96e723.3d2ca8","name":"DONE: Format message for Airbag Deployed Marker. Send to Google Maps","func":"var lat = flow.get (\"current_latitude\")\nvar lon = flow.get (\"current_longitude\")\n\nvar msg ={\"payload\":{\n    \"command\":{\"removeMarker\":\"emergency\"},\n     \"markerData\":[  {   \"lat\":lat,\n                        \"lng\":lon,\n                        \"title\":\"emergency\",\n                        \"icon\": \"http://maps.google.com/mapfiles/kml/pal3/icon51.png\",\n                        \"infoWindow\": {\"content\": \"<p>Temperature: 19C</p><p>Humidity: 70<p>\" }\n                    }\n                 ]\n    }\n};\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":910,"y":1140,"wires":[["4486cad8.3745f4"]]},{"id":"6c6b1791.3fd0a8","type":"comment","z":"ee96e723.3d2ca8","name":"AIRBAG DEPLOYED","info":"","x":880,"y":1100,"wires":[]},{"id":"e9e0720f.1ab26","type":"debug","z":"ee96e723.3d2ca8","name":"airbag deployed","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":960,"y":1200,"wires":[]},{"id":"4486cad8.3745f4","type":"subflow:520d7f01.53d1a","z":"ee96e723.3d2ca8","name":"","x":1270,"y":1200,"wires":[[],[]]},{"id":"f9493b4a.14b148","type":"ui_button","z":"ee96e723.3d2ca8","name":"","group":"567a91a3.bb92c","order":8,"width":0,"height":0,"passthru":false,"label":"REAL TEMPERATURE SIMULATOR","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":370,"y":1700,"wires":[["1b3591ad.5c54de"]]},{"id":"1b3591ad.5c54de","type":"function","z":"ee96e723.3d2ca8","name":"Format weather request","func":"//using my own api key\nmsg.url = \"http://api.openweathermap.org/data/2.5/weather?q=paris&units=metric&appid=9f2f30d9188153c13ebbfa194acf3730\";\nreturn msg;\n\n","outputs":1,"noerr":0,"x":542,"y":1601,"wires":[["c1a4f219.177f9"]]},{"id":"c1a4f219.177f9","type":"http request","z":"ee96e723.3d2ca8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":622,"y":1661,"wires":[["cb914e13.ebee4","d9387e2c.18387"]]},{"id":"cb914e13.ebee4","type":"function","z":"ee96e723.3d2ca8","name":"DONE: Check if cold-weather","func":"// Check if cold-weather and send message to vehicle if required\nif (msg.payload.main.temp < 2){\n    msg.payload = \"ICY WEATHER\"\n    return msg;\n}\nelse \n;\n\n","outputs":1,"noerr":0,"x":1272,"y":1686,"wires":[["bbaab2c2.bae"]]},{"id":"c1391134.c215e","type":"ui_button","z":"ee96e723.3d2ca8","name":"","group":"567a91a3.bb92c","order":7,"width":0,"height":0,"passthru":false,"label":"ICY TEMPERATURE SIMULATOR","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":332,"y":1841,"wires":[["12c37a67.5b9406"]]},{"id":"12c37a67.5b9406","type":"function","z":"ee96e723.3d2ca8","name":"ICY WEATHER SIMULATOR","func":"var weather = { \"payload\": {\n   \"coord\": {\n      \"lon\": -4.26,\n      \"lat\": 55.87\n   },\n   \"weather\": [\n      {\n         \"id\": 800,\n         \"main\": \"Clear\",\n         \"description\": \"clear sky\",\n         \"icon\": \"01n\"\n      }\n   ],\n   \"base\": \"stations\",\n   \"main\": {\n      \"temp\": 1.6,\n      \"feels_like\": 1.3,\n      \"temp_min\": 1.67,\n      \"temp_max\": 6.11,\n      \"pressure\": 1024,\n      \"humidity\": 86\n   },\n   \"visibility\": 10000,\n   \"wind\": {\n      \"speed\": 1\n   },\n   \"clouds\": {\n      \"all\": 0\n   },\n   \"dt\": 1588815908,\n   \"sys\": {\n      \"type\": 1,\n      \"id\": 1441,\n      \"country\": \"GB\",\n      \"sunrise\": 1588825184,\n      \"sunset\": 1588882043\n   },\n   \"timezone\": 3600,\n   \"id\": 2648579,\n   \"name\": \"Glasgow\",\n   \"cod\": 200\n}\n}\n\nreturn weather;","outputs":1,"noerr":0,"x":680,"y":1840,"wires":[["cb914e13.ebee4","d9387e2c.18387"]]},{"id":"291cf92.6256b06","type":"comment","z":"ee96e723.3d2ca8","name":"TEMPERATURE DISPLAY","info":"","x":842,"y":1501,"wires":[]},{"id":"3e7a6f11.f7675","type":"inject","z":"ee96e723.3d2ca8","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":282,"y":1621,"wires":[["1b3591ad.5c54de"]]},{"id":"bb56dff1.6724","type":"http in","z":"ee96e723.3d2ca8","name":"","url":"/delivery","method":"post","upload":false,"swaggerDoc":"","x":490,"y":2220,"wires":[["8564095.bd025f8","ec450154.b9391"]]},{"id":"ef003a07.dd7728","type":"function","z":"ee96e723.3d2ca8","name":"Respond","func":"\n\nvar lat = flow.get(\"current_latitude\");\nvar lon = flow.get(\"current_longitude\");\n\n\n//var original_msg = msg.payload.text;\nvar slack_response = \"Current Location is at \" + lat + \", \" + lon;\nvar google_location = \"Please see current location of vehicle below: https://www.google.com/maps/search/?api=1&query=\" + lat + \",\" + lon;\n\nmsg.payload =  \"Response: \" + slack_response + \"\\n \" + google_location;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":900,"y":2200,"wires":[["3bfa53bc.13373c","ad34f7f3.173b28"]]},{"id":"ad34f7f3.173b28","type":"http response","z":"ee96e723.3d2ca8","name":"","statusCode":"","headers":{},"x":1390,"y":2280,"wires":[]},{"id":"8564095.bd025f8","type":"switch","z":"ee96e723.3d2ca8","name":"Validate Slack Token","property":"payload.token","propertyType":"msg","rules":[{"t":"eq","v":"w9AeLeZBY2TNXAwLjfGCwDZP","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":680,"y":2300,"wires":[["ef003a07.dd7728"],["c86a0cda.4968"]]},{"id":"c86a0cda.4968","type":"function","z":"ee96e723.3d2ca8","name":"Token Error","func":"//The Slack request has incorrect token value\nmsg.payload=\"Invalid Slack webhook token\";\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":2380,"wires":[["c836f010.4d81f"]]},{"id":"c836f010.4d81f","type":"debug","z":"ee96e723.3d2ca8","name":"slack token error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1090,"y":2380,"wires":[]},{"id":"8fe3037c.5daa9","type":"comment","z":"ee96e723.3d2ca8","name":"SLACK MESSAGE RECEIVED FROM CUSTOMER","info":"","x":898,"y":2087,"wires":[]},{"id":"86c3cf44.46387","type":"debug","z":"ee96e723.3d2ca8","name":"location update","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1420,"y":520,"wires":[]},{"id":"3bfa53bc.13373c","type":"debug","z":"ee96e723.3d2ca8","name":"message to slack when /delivery is activated","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1330,"y":2160,"wires":[]},{"id":"b6fcc3d1.bbc1b","type":"subflow:520d7f01.53d1a","z":"ee96e723.3d2ca8","name":"","env":[],"x":1190,"y":520,"wires":[["86c3cf44.46387"],[]]},{"id":"94eaf00c.fb985","type":"ui_template","z":"c9c1e6a0.3c4298","group":"ce8de008.f4847","name":"Map widget","order":1,"width":"14","height":"14","format":"<iframe \n    id='frame'\n    src='/map'\n    width='100%'  \n    height='100%'\n>\n</iframe>\n\n<script>\nscope.$watch('msg.payload', function(newv, oldv, scope) {\n    $(\"#frame\")[0].contentWindow.postMessage(JSON.stringify(newv), '*');\n});\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":390,"y":200,"wires":[["d51e024.afd3e"]]},{"id":"3e43ad84.224a22","type":"function","z":"c9c1e6a0.3c4298","name":"","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\nvar locations = global.get(\"gmapsLocations\");\nif ( typeof(locations) === \"undefined\" || locations === null){\n   //no stored markers in Node-Red application\n   msg.payload = {\"markerData\":[]};\n}\nelse {\n    // get stored markers\n    msg.payload= locations;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":100,"wires":[["d51e024.afd3e"]]},{"id":"23928f13.537cf","type":"http response","z":"c9c1e6a0.3c4298","name":"","statusCode":"","headers":{},"x":710,"y":280,"wires":[]},{"id":"6e1ea0e8.30fa8","type":"http in","z":"c9c1e6a0.3c4298","name":"","url":"/map","method":"get","upload":false,"swaggerDoc":"","x":120,"y":280,"wires":[["78e9e1ae.51185"]]},{"id":"7291dc7e.c918c4","type":"template","z":"c9c1e6a0.3c4298","name":"mapping","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n\n<head>\n    <title>Node-Red-IoT</title>\n    <script type=\"text/javascript\" src=\"http://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js\"\n        type=\"text/javascript\"></script>\n    <script type=\"text/javascript\" src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js\"></script>\n    <script type=\"text/javascript\"\n        src=\"http://maps.google.com/maps/api/js?key=AIzaSyDLZFnTl6-e0pmKiBTpfo3H3W9tlhfVWpg\"></script>\n    <script type=\"text/javascript\" src=\"http://yourjavascript.com/4594301102/gmaps.js\"></script>\n\n\n\n    <style type=\"text/css\" media=\"screen\">\n        #map {\n            position: absolute;\n            top: 0;\n            bottom: 0;\n            left: 0;\n            right: 0;\n        }\n    </style>\n</head>\n\n<body>\n\n    <div id=\"map\"></div>\n    <script type=\"text/javascript\">\n\n        client = new Paho.MQTT.Client(\"mqtt.eclipse.org\", 80, \"myClientId_\" + new Date().getTime());\n        myTopicRoot = \"{{uniqueMQTT}}\";\n        myTopic =  myTopicRoot + \"/commands\";\n\n        var nodeRedRequest = {};\n        var command = {};\n\n        client.onConnectionLost = onConnectionLost;\n        client.connect({ onSuccess: onConnect, keepAliveInterval: 20 });\n        client.onMessageArrived = onMessageArrived;\n\n        //let count = 0;\n        function onConnect() {\n            console.log(\"onConnect\");\n            client.subscribe(myTopic);\n            // DISABLED Web page publishes data - just for testing purposes. \n            // setInterval(() => { publish(myTopic, `The count is now ${count++}`) }, 1000)\n            publish( myTopicRoot + \"/webrefresh\", \"refresh\");\n\n        }\n\n        const publish = (dest, msg) => {\n            console.log('desint :', dest, 'msg:', msg)\n            let message = new Paho.MQTT.Message(msg);\n            message.destinationName = dest;\n            client.send(message);\n        }\n\n        var map;\n\n        $(document).ready(function () {\n            // Centre map on Glasgow to start\n            map = new GMaps({\n                div: '#map',\n                lat: 55.866161,\n                lng: -4.25231\n            });\n\n            map.setZoom(7);  // initial zoom\n\n        });\n\n\n\n        function onConnectionLost(responseObject) {\n            if (responseObject.errorCode !== 0) {\n                console.log(\"onConnectionLost:\" + responseObject.errorMessage);\n                location.reload(true); // reload web page\n            }\n            \n        }\n\n        \n        function onMessageArrived(message) {\n            //let el = document.createElement('div')\n            // el.innerHTML = \"hello\" + message.payloadString\n            //document.body.appendChild(el)\n            var command_string = message.payloadString;\n            var nodeRedRequest = JSON.parse(command_string);\n            if (nodeRedRequest.command) {\n                var command = nodeRedRequest.command;\n            }\n            // if there are markers in the request...\n            if (nodeRedRequest.markerData) {\n                var myMarkers = true;\n                var latlng = nodeRedRequest.markerData;\n                // if (nodeRedRequest.markerData[0].click)\n                //  nodeRedRequest.markerData[0].click = JSON.parse(nodeRedRequest.markerData[0].click);\n            }\n            /*  PB: ORIGINAL CODE\n            var array = $.map(latlng, function(el) {\n                    return [[el.lat, el.lng]];\n                }); */\n            // map.removeMarkers();   // PB: NOW CONDITIONAL ON MY COMMAND OPTIONS\n            // map.removePolylines(); // PB: NOT USING THESE IN MY EXAMPLE\n\n            // if there are commands in the request...\n            if (command) {\n                if (command.zoom){\n                    map.setZoom(command.zoom);\n                    console.log(\"Zoom\");\n                }\n                if (command.removeMarkers) {\n                    // remove ALL markers\n                    map.removeMarkers();\n                    console.log(\"Remove all markers\");\n                }\n                // remove single marker by TITLE  \n                if (command.removeMarker) {\n                    myRemoveMarker(map, command.removeMarker);\n                    console.log(\"Remove single marker\");\n                }\n                // Centre the map at lat,lng\n                if (command.centre){\n                    map.setCenter(command.centre.lat, command.centre.lng);\n                    console.log(\"Center map\");\n                }\n            }\n            if (myMarkers) {  // if we included markers in the request...\n                if (latlng.length > 0) {\n                    console.log(\"Got marker list (\" + latlng.length + \"), centering at \" + latlng[0].lat + \", \" + latlng[0].lng, latlng);\n                    // if you want, set centre point at location of first marker    \n                    //map.setCenter(latlng[0].lat, latlng[0].lng); \n                    map.addMarkers(latlng);\n                    //var m = map.markers[1];\n                    //map.removeMarker(m);\n\n                }\n            }\n        }\n\n\n        // remove a single marker     \n        function myRemoveMarker(myMap, myMarkerTitle) {\n            var markers = myMap.markers;\n            var length = markers.length;\n            if (length > 0) {\n                //go from end of array downwards since the array size\n                //diminishes if elements are deleted!\n                for (var i = length - 1; i >= 0; i--) {\n                    if (markers[i].title === myMarkerTitle) {\n                        // will remove multiple entries for the same title (if present)\n                        myMap.removeMarker(markers[i]);\n                        var markers2 = myMap.markers;\n                    }\n                }\n            }\n        }\n    </script>\n</body>\n\n</html>","output":"str","x":540,"y":280,"wires":[["23928f13.537cf"]]},{"id":"d51e024.afd3e","type":"mqtt out","z":"c9c1e6a0.3c4298","name":"","topic":"airdmhund/commands","qos":"2","retain":"true","broker":"f9bb9c5b.f34d4","x":600,"y":100,"wires":[]},{"id":"a35d57b9.974aa8","type":"mqtt in","z":"c9c1e6a0.3c4298","name":"","topic":"airdmhund/webrefresh","qos":"2","datatype":"auto","broker":"f9bb9c5b.f34d4","x":160,"y":100,"wires":[["3e43ad84.224a22"]]},{"id":"78e9e1ae.51185","type":"function","z":"c9c1e6a0.3c4298","name":"Add Unique Topic","func":"msg.uniqueMQTT = \"airdmhund\"; // CHANGE THIS!!!\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":280,"wires":[["7291dc7e.c918c4"]]},{"id":"83527828.85be68","type":"ui_text","z":"ee96e723.3d2ca8","group":"567a91a3.bb92c","order":1,"width":0,"height":0,"name":"","label":"Delivery request received for Route Number: ","format":" {{msg.payload.routeNumber}}","layout":"row-spread","x":1470,"y":160,"wires":[]},{"id":"ee2e9a6c.e1b8d8","type":"ui_button","z":"c9c1e6a0.3c4298","name":"","group":"567a91a3.bb92c","order":9,"width":0,"height":0,"passthru":false,"label":"Clear All Markers","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":190,"y":700,"wires":[["a232015b.80444"]]},{"id":"a232015b.80444","type":"function","z":"c9c1e6a0.3c4298","name":"Clear all markers","func":"var msg ={\"payload\":{\n    \"command\":{\"removeMarkers\":true}\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":720,"wires":[["97d6a64b.713678"]]},{"id":"97d6a64b.713678","type":"subflow:520d7f01.53d1a","z":"c9c1e6a0.3c4298","name":"Google Maps on <appName>/map","env":[],"x":720,"y":460,"wires":[[],[]]},{"id":"8544e8c.0d5fb18","type":"ui_text","z":"ee96e723.3d2ca8","group":"567a91a3.bb92c","order":4,"width":0,"height":0,"name":"","label":"Parcel Status:","format":"{{msg.payload}}","layout":"row-spread","x":1580,"y":780,"wires":[]},{"id":"36726961.937556","type":"ui_text","z":"ee96e723.3d2ca8","group":"567a91a3.bb92c","order":3,"width":0,"height":0,"name":"","label":"Vehicle Location: ","format":"{{msg.payload.lat}}, {{msg.payload.lon}}","layout":"row-spread","x":1690,"y":440,"wires":[]},{"id":"d9387e2c.18387","type":"ui_text","z":"ee96e723.3d2ca8","group":"567a91a3.bb92c","order":6,"width":0,"height":0,"name":"","label":"Current Temperature:","format":"{{msg.payload.main.temp}}","layout":"row-spread","x":1132,"y":1566,"wires":[]},{"id":"580db650.4c8988","type":"function","z":"ee96e723.3d2ca8","name":"Resetting route number","func":"msg = {\"payload\": {\"routeNumber\":\"\"}};\n\n//msg.payload.routeNumber\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":180,"wires":[["83527828.85be68"]]},{"id":"878e8774.7245b8","type":"ui_button","z":"ee96e723.3d2ca8","name":"","group":"567a91a3.bb92c","order":11,"width":0,"height":0,"passthru":false,"label":"RESET ALL","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":330,"y":260,"wires":[["580db650.4c8988","5f21c413.f6b29c","be1b0e9e.d6e42"]]},{"id":"5f21c413.f6b29c","type":"function","z":"ee96e723.3d2ca8","name":"clearing vehicle location","func":"msg = {\"payload\":{\"lat\": \"\", \"lon\":\"\"}}\n\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":260,"wires":[["36726961.937556"]]},{"id":"98da565.96bf7a8","type":"function","z":"ee96e723.3d2ca8","name":"Clearing of Parcel status","func":"//msg = {\"payload\": {\"delivery_id\":\"\"}};\nmsg.payload = \"\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":780,"wires":[["8544e8c.0d5fb18"]]},{"id":"c43737ff.33be28","type":"function","z":"ee96e723.3d2ca8","name":"Delivery of parcel to cloud","func":"msg.payload = \"Parcel with Delivery ID: \" + msg.delivery_id + \" has been delivered\"\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":840,"wires":[["8544e8c.0d5fb18"]]},{"id":"be1b0e9e.d6e42","type":"link out","z":"ee96e723.3d2ca8","name":"reset all","links":["5df0429f.4c1bbc","301e4962.e8da86","c6a700b8.2df54"],"x":635,"y":340,"wires":[]},{"id":"5df0429f.4c1bbc","type":"link in","z":"ee96e723.3d2ca8","name":"resetting parcel status","links":["be1b0e9e.d6e42"],"x":895,"y":780,"wires":[["98da565.96bf7a8"]]},{"id":"bbaab2c2.bae","type":"wiotp out","z":"ee96e723.3d2ca8","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"55be719d.ecff5","deviceType":"","deviceId":"","event":"WEATHER","format":"json","qos":"","name":"","x":1522,"y":1666,"wires":[]},{"id":"8bcd80ff.b6225","type":"ui_text","z":"ee96e723.3d2ca8","group":"567a91a3.bb92c","order":2,"width":0,"height":0,"name":"","label":"Vehicle Status : ","format":"{{msg.payload}}","layout":"row-spread","x":1000,"y":2620,"wires":[]},{"id":"86080c6b.8559f","type":"mqtt in","z":"ee96e723.3d2ca8","name":"","topic":"airdmhund/vehiclestatus","qos":"2","datatype":"utf8","broker":"21af1fb7.11cfb","x":750,"y":2620,"wires":[["8bcd80ff.b6225"]]},{"id":"78a08446.1d02cc","type":"ui_text","z":"ee96e723.3d2ca8","group":"567a91a3.bb92c","order":5,"width":0,"height":0,"name":"","label":"Airbag Status:","format":"{{msg.payload.airbag}}","layout":"row-spread","x":1120,"y":1320,"wires":[]},{"id":"7cf6d01b.f818b","type":"function","z":"ee96e723.3d2ca8","name":"Clearing of Airbag status","func":"//msg = {\"payload\": {\"delivery_id\":\"\"}};\n\nvar msg = {\"payload\": {\"airbag\": \"Airbag Not deployed\"}}\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":1320,"wires":[["78a08446.1d02cc"]]},{"id":"c6a700b8.2df54","type":"link in","z":"ee96e723.3d2ca8","name":"resetting parcel status","links":["be1b0e9e.d6e42"],"x":455,"y":1320,"wires":[["7cf6d01b.f818b"]]},{"id":"91341cc8.92af9","type":"comment","z":"ee96e723.3d2ca8","name":"Current Status of Vehicle","info":"//whether the coordinates have been received by the vehicle and its moving","x":890,"y":2540,"wires":[]},{"id":"ec450154.b9391","type":"debug","z":"ee96e723.3d2ca8","name":"lolol","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":2160,"wires":[]},{"id":"dcf649e6.073738","type":"inject","z":"ee96e723.3d2ca8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":1940,"wires":[["12c37a67.5b9406"]]}]