DELIVERY VEHICLE TRACKING USING RASPBERRY PI/DELIVERY VEHICLE NODE RED CODE.txt
[{"id":"a4108dc4.dfd57","type":"tab","label":"VEHICLE DEVICE","disabled":false,"info":""},{"id":"57e24f98.fc56b","type":"wiotp-credentials","z":"","name":"","org":"xg01zo","serverName":"","devType":"iotsample-devicetype","devId":"Device01","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"10d61851.f0ba58","type":"mqtt-broker","z":"","name":"EclipseIoT","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"312c3827.b7f1f8","type":"mqtt-broker","z":"","name":"","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a77a910d.59c88","type":"mqtt-broker","z":"","name":"EclipseIoT","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"28050703.ffb998","type":"mqtt-broker","z":"","name":"EclipseIoT","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f788471f.5617b8","type":"mqtt-broker","z":"","name":"","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ba8b2b.895484d8","type":"mqtt-broker","z":"","name":"EclipseIoT","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b41c164d.135a68","type":"mqtt-broker","z":"","name":"","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ce1ce6ac.5b08c8","type":"mqtt-broker","z":"","name":"EclipseIoT","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7fb9e5a2.3f137c","type":"mqtt-broker","z":"","name":"","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"24f5632b.7b7c6c","type":"mqtt-broker","z":"","name":"EclipseIoT","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"df344a7.4dda5b8","type":"cloudant","z":"","host":"https://c6150556-5270-4a64-a25a-3523f4452699-bluemix.cloudant.com","name":""},{"id":"f13e0ce5.f04da","type":"cloudant","z":"","host":"","name":""},{"id":"b25d846e.d88f38","type":"mqtt-broker","z":"","name":"","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3651c498.c3fb4c","type":"ui_group","z":"","name":"first","tab":"","order":1,"disp":true,"width":"14","collapse":false},{"id":"eb7cbce.414df4","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Vehicle Tracking Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2ffa81d3.edbfee","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"7cca5a82.524f24","type":"ui_group","name":"Group 3","tab":"","order":3,"disp":true,"width":6},{"id":"de5b9d1a.f883f","type":"ui_spacer","name":"spacer","group":"","order":1,"width":1,"height":1},{"id":"9c4ee74c.011608","type":"ui_group","z":"","name":"Second","tab":"","order":2,"disp":true,"width":7,"collapse":false},{"id":"634adc6a.c08de4","type":"ui_group","z":"","name":"Test","tab":"","order":1,"disp":true,"width":"24"},{"id":"69dc128c.bb6dfc","type":"mqtt-broker","z":"","name":"EclipseIoT","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2a7a37c1.f98f38","type":"mqtt-broker","z":"","name":"EclipseIoT","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d86fe388.6940c","type":"mqtt-broker","z":"","name":"","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b3721083.1c09d","type":"mqtt-broker","z":"","name":"EclipseIoT","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1623080c.c24c78","type":"mqtt-broker","z":"","name":"EclipseIoT","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dcca33fb.174e3","type":"mqtt-broker","z":"","name":"","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f9374e24.251db","type":"mqtt-broker","z":"","name":"EclipseIoT","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"19c7568e.f4a4d9","type":"mqtt-broker","z":"","name":"","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"27dc2b8f.30aa84","type":"mqtt-broker","z":"","name":"EclipseIoT","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"effbb28f.1a4e","type":"ibmiot","z":"","name":"API-1","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"8f38e434.1060b8","type":"mqtt-broker","z":"","name":"","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d0db5262.0f363","type":"mqtt-broker","z":"","name":"","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"494d1579.0d3a0c","type":"ui_group","z":"","name":"VEHICLE AND DELIVERY STATUS","tab":"eb2451b5.4c9dd","order":2,"disp":true,"width":"10","collapse":false},{"id":"eb2451b5.4c9dd","type":"ui_tab","z":"","name":"Cloud Dashboard","icon":"dashboard","disabled":false,"hidden":false},{"id":"b03b3178.9e2b9","type":"function","z":"a4108dc4.dfd57","name":"DONE:Checking Joystick-Up event","func":"\n//checking which topic is being used first\nif (msg.topic == 'joystick' && msg.payload.key == 'UP' && msg.payload.state == 1){\n    //ensuring that only up key works when pressed\n\t\tmsg.payload = 'ACTIVATED'\n\t\treturn msg;\n}\n","outputs":1,"noerr":0,"x":400,"y":220,"wires":[["8232149b.51fd58"]]},{"id":"8232149b.51fd58","type":"function","z":"a4108dc4.dfd57","name":"Increment Route-Number","func":"var count = context.get(\"count\")|| 0;\n\ncount = count +1;\nif (count == 6 )\n    count = 1;\ncontext.set(\"count\", count);\n\nreturn {\"payload\": count};","outputs":1,"noerr":0,"x":690,"y":220,"wires":[["a6812b29.69aea8"]]},{"id":"a6812b29.69aea8","type":"function","z":"a4108dc4.dfd57","name":"DONE:Format MQTT Message","func":"// Format a JSON object with the route-number \n// to be passed to MQTT-out node\n// in msg.payload.routeNumber\n\nvar route = \n{ \"payload\": {\n    \"routeNumber\": msg.payload\n  }\n};\n\n\nreturn route","outputs":1,"noerr":0,"x":1150,"y":120,"wires":[["212b780c.0f8018"]]},{"id":"212b780c.0f8018","type":"mqtt out","z":"a4108dc4.dfd57","name":"","topic":"airdmhund/requestNextDeliveryRoute","qos":"0","retain":"","broker":"ba8b2b.895484d8","x":1510,"y":200,"wires":[]},{"id":"ad1818be.a5d0d8","type":"rpi-sensehatsim in","z":"a4108dc4.dfd57","name":"","motion":false,"env":false,"stick":true,"x":200,"y":120,"wires":[["b03b3178.9e2b9"]]},{"id":"f3297056.c77b8","type":"comment","z":"a4108dc4.dfd57","name":"VEHICLE DELIVERY REQUEST INITIATION","info":"","x":730,"y":20,"wires":[]},{"id":"fd557913.95add8","type":"comment","z":"a4108dc4.dfd57","name":"Joystick Simulator","info":"","x":210,"y":80,"wires":[]},{"id":"c3c0a700.7d70d8","type":"comment","z":"a4108dc4.dfd57","name":"route request initiated","info":"","x":1240,"y":160,"wires":[]},{"id":"fcb7d6da.659368","type":"function","z":"a4108dc4.dfd57","name":"TO-DO: Format message for Pi Hat display","func":"msg.payload = msg.payload.d.value\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1340,"wires":[["39db6ffa.b9579"]]},{"id":"39db6ffa.b9579","type":"scrollMessage","z":"a4108dc4.dfd57","colorHex":"#0000ff","backHex":"#000000","shiftAmount":1,"delay":200,"rotation":0,"flip":0,"randomColor":false,"x":940,"y":1340,"wires":[["6575d77b.0b5738"]]},{"id":"6575d77b.0b5738","type":"rpi-sensehatsim out","z":"a4108dc4.dfd57","name":"","x":1200,"y":1340,"wires":[]},{"id":"948b0832.e44c38","type":"debug","z":"a4108dc4.dfd57","name":"lolol","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":960,"wires":[]},{"id":"74bd5ee5.85e38","type":"ibmiot in","z":"a4108dc4.dfd57","authentication":"apiKey","apiKey":"effbb28f.1a4e","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":330,"y":1340,"wires":[["fcb7d6da.659368"]]},{"id":"44e18790.b31738","type":"mqtt in","z":"a4108dc4.dfd57","name":"","topic":"airdmhund/vehicleRouteReturned","qos":"0","datatype":"json","broker":"8f38e434.1060b8","x":810,"y":1080,"wires":[["96b2f6ca.d575f8","5fc66110.9d554"]]},{"id":"2812dd74.542b12","type":"comment","z":"a4108dc4.dfd57","name":"VEHICLE SIMULATOR","info":"","x":840,"y":440,"wires":[]},{"id":"55133674.6ba2b8","type":"function","z":"a4108dc4.dfd57","name":"Emit event if vehicle enabled","func":"//If counting is enabled then emit a message, otherwise do nothing\nvar countState = global.get(\"countState\")||0;\nif (countState) // if 'countState' is true then emit this counter event\n  return msg;\nelse            // otherwise emit nothing\n  ;","outputs":1,"noerr":0,"x":240,"y":639,"wires":[["83f8094d.ab8708"]]},{"id":"707c921b.8a127c","type":"function","z":"a4108dc4.dfd57","name":"Save vehicle enabled/disabled state","func":"global.set(\"countState\", msg.payload) // set 'countState' true or false\n\n\nvar msgout = {\"payload\":msg.payload}\nreturn msgout","outputs":1,"noerr":0,"x":1080,"y":759,"wires":[["d1a6e1d9.0eb64"]]},{"id":"83f8094d.ab8708","type":"function","z":"a4108dc4.dfd57","name":"Emit route coordinate pair","func":"theRoute = global.get(\"currentVehicleRoute\") ||0;\nif (theRoute === 0) // no route stored\nreturn;\n\ncount = global.get(\"vehicleRouteCounter\")||0;\n\nif (count >= (theRoute.coordinates.length) ) // if we have reached the end of the route then return route ID\n  return;\nelse if (count < (theRoute.coordinates.length) -1 ){\n  global.set(\"vehicleRouteCounter\", count+1); // Increment the counter and store in Global Context\n   return [ { \"payload\": {\"vehicle_location\": theRoute.coordinates[count]}} , null ];\n}\nelse {\n  global.set(\"vehicleRouteCounter\", count+1); // Increment the counter and store in Global Context\n     return[{ \"payload\": {\"vehicle_location\": theRoute.coordinates[count]}}, {\"payload\":{\"delivery_id\":theRoute.delivery_id}}];\n}","outputs":2,"noerr":0,"x":490,"y":560,"wires":[["218eaa90.66ce76"],["37695e82.919442","f0f841cb.74715"]]},{"id":"96b2f6ca.d575f8","type":"function","z":"a4108dc4.dfd57","name":"Enable vehicle","func":"\nglobal.set(\"currentVehicleRoute\", msg.payload);\nglobal.set(\"vehicleRouteCounter\", 0); //reset the count, ready to go through the route\nreturn {\"payload\": true};","outputs":1,"noerr":0,"x":940,"y":860,"wires":[["707c921b.8a127c"]]},{"id":"f0f841cb.74715","type":"function","z":"a4108dc4.dfd57","name":"Disable vehicle","func":"\nreturn {\"payload\": false};","outputs":1,"noerr":0,"x":700,"y":759,"wires":[["707c921b.8a127c"]]},{"id":"218eaa90.66ce76","type":"function","z":"a4108dc4.dfd57","name":"Format Lat,Lng message","func":"var latitude = msg.payload.vehicle_location[0];\nvar longitude = msg.payload.vehicle_location[1];\nvar msgOut = {\"payload\": {\"lat\": latitude, \"lon\": longitude}}; \nreturn msgOut;","outputs":1,"noerr":0,"x":830,"y":520,"wires":[["5603b10f.94624"]]},{"id":"5603b10f.94624","type":"mqtt out","z":"a4108dc4.dfd57","name":"","topic":"airdmhund/vehicleLocationUpdate","qos":"0","retain":"false","broker":"8f38e434.1060b8","x":1240,"y":520,"wires":[]},{"id":"37695e82.919442","type":"function","z":"a4108dc4.dfd57","name":"DONE: Format Parcel-Delivered message","func":"//A message with the delivery-ID number\n\n\nvar deliveryID = \n{ \"payload\": {\n    \"deliveryID\": msg.payload.delivery_id\n  }\n};\nreturn deliveryID","outputs":1,"noerr":0,"x":860,"y":600,"wires":[["f518f528.ef3b38"]]},{"id":"f518f528.ef3b38","type":"mqtt out","z":"a4108dc4.dfd57","name":"","topic":"airdmhund/parcelDelivered","qos":"0","retain":"false","broker":"8f38e434.1060b8","x":1320,"y":660,"wires":[]},{"id":"3124abe7.799de4","type":"comment","z":"a4108dc4.dfd57","name":"Send to IBM Cloud App","info":"","x":1280,"y":600,"wires":[]},{"id":"3dcb15f4.b0873a","type":"inject","z":"a4108dc4.dfd57","name":"Regular Event 2-Seconds","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":440,"wires":[["55133674.6ba2b8"]]},{"id":"ea8149cc.f361f8","type":"function","z":"a4108dc4.dfd57","name":"TO-DO: Format an airbag-deployed message","func":"var msgOut = \n{ \"payload\": {\n    \"airbag\": \"Airbag has been deployed\"\n  }\n};\nreturn msgOut;","outputs":1,"noerr":0,"x":270,"y":880,"wires":[["cda5ae36.118d7","948b0832.e44c38"]]},{"id":"cda5ae36.118d7","type":"mqtt out","z":"a4108dc4.dfd57","name":"","topic":"airdmhund/airbagDeployed","qos":"0","retain":"false","broker":"d0db5262.0f363","x":420,"y":1100,"wires":[]},{"id":"f0737fae.bea46","type":"ui_button","z":"a4108dc4.dfd57","name":"","group":"494d1579.0d3a0c","order":10,"width":0,"height":0,"passthru":false,"label":"AIRBAG SIMULATOR","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":760,"wires":[["f0f841cb.74715","ea8149cc.f361f8"]]},{"id":"d1a6e1d9.0eb64","type":"function","z":"a4108dc4.dfd57","name":"Status of moving vehicle","func":"//var state = global.get(\"countState\")\n\nif (msg.payload === true)\n{\n    msg.payload = \"Coordinates received and Vehicle Activated\";\n    return msg;\n} else {\n    msg.payload = \"Vehicle Not Moving\";\n    return msg;\n}\n\n// msgout = {\"payload\":true}\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":839,"wires":[["9d17c135.50241"]]},{"id":"9d17c135.50241","type":"mqtt out","z":"a4108dc4.dfd57","name":"","topic":"airdmhund/vehiclestatus","qos":"0","retain":"false","broker":"8f38e434.1060b8","x":1510,"y":1020,"wires":[]},{"id":"2f71e4ab.6386cc","type":"comment","z":"a4108dc4.dfd57","name":"ICE ALERT MESSAGE FROM HUB TO DISPLAY ON PI-HAT","info":"","x":840,"y":1260,"wires":[]},{"id":"5fc66110.9d554","type":"debug","z":"a4108dc4.dfd57","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1220,"y":1160,"wires":[]}]